# SEMANA 06
Anselmo Junior Huancas Leuyacc

Temas

1. Coleccion de datos
2. Estructuras Decisivas y Repetidas
3. Funciones
4. Clases y objetos

2. Estructuras Decisivas y Repetidas

In [1]:
# 2.1 Estructuras Decisivas (if, elif, else)

In [2]:
# if
# Problema: Dado el precio de productos ingresados por teclado, aplicar el descuento del 10% del total
# venta es mayor o igual a 1000.

In [48]:
#Solución
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total>=1000:
    total*=0.9

print(f"Total a pagar es: {total}")

Producto 1: 250
Producto 2: 250
Producto 3: 200
Total a pagar es: 700.0

In [49]:
# Problema 01 (Recordando)
# Dado una lista de [ALANYA, ALVA, AZAÑERO, CARRASCO, CCACCYA, COSME, CUSI, DIAZ, FLORES, GOMEZ, GOMEZ,
# GRANADOS, HUANCAS, JULCA, LAURA, MOTTA, PINEDO, PONCE, QUINTANA,RODRIGUEZ, SERNA, VILCA, YAURICASA]
# Diseñar un código que muestre si el apellido de un estudiante(ingreso por teclado forma parte de la lista)

In [50]:
lista = ['ALANYA' , 'ALVA' , 'AZAÑERO' , 'CARRASCO' , 'CCACCYA' , 'COSME' , 'CUSI' , 'DIAZ' , 'FLORES' , 'GOMEZ' , 'GOMEZ' , 'GRANADOS' , 'HUANCAS' , 'JULCA' , 'LAURA' , 'MOTTA' , 'PINEDO' , 'PONCE' , 'QUINTANA' ,'RODRIGUEZ' , 'SERNA' , 'VILCA' , 'YAURICASA' ]
print("Ingrese nombre del estudiante a encontrar: ")
alumno = input()
alumno = alumno.upper()

if alumno in lista :
    print("El Alumno si esta en la lista")
else:
    print("El Alumno no esta en la lista")

Ingrese nombre del estudiante a encontrar:

El Alumno no esta en la lista

In [51]:
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado, 
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

In [52]:
# Solucion...
# Validacion para que siempre sea positivo
while True:
    print("Cuanto fue el total de ventas del trabajador: ")
    total = float(input())
    
    if total < 0:
        print("El total de ventas debe ser positivo...")
    
    if total >= 0:
        break

# Escogiendo la categoria        
if total <= 1000:
    print("Categoria A")
else:
    if total <= 2000:
        print("Categoria B")
    else:
        if total <= 5000:
            print("Categoria C")
        else:
            print("Categoria D")

Cuanto fue el total de ventas del trabajador:

ValueError: could not convert string to float: ''

In [53]:
#elif
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado, 
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

In [54]:
# Solucion...
print("Cuanto fue el total de ventas del trabajador: ")
total = float(input())

if total >=0 and total <=1000:
    print ("CATEGORIA 'A'")
elif total >1000 and total <=2000:
    print("CATEGORIA 'B' ")
elif total >2000 and total <= 5000:
    print("CATEGORIA 'C' ")
elif total > 5000:
    print("CATEGORIA 'D' ")

Cuanto fue el total de ventas del trabajador:
5
CATEGORIA 'A'

In [ ]:
# 2.2 Estructuras Repetitivas

In [56]:
# For

In [57]:
# Problema 01:
# Mostrar los elementos de una lista utilizando for

In [58]:
# Solucion
aula = ['Yauricasa','Granados','Alva','Laura']

# Por cada alumno que esta en la lista, imprimir alumno

for alumno in aula:
    print(alumno)

Yauricasa
Granados
Alva
Laura

In [59]:
# Problema 02:
# Dado una cadena ingresado por teclado, mostrar cada caracter de la cadena, utilizando la estructura for

In [60]:
# Solucion...
cadena = input("Ingrese cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese cadena: hola como estas
h
o
l
a

c
o
m
o

e
s
t
a
s

In [61]:
# Para generar rangos de los numeros -> range()
range(5)

range(0, 5)

In [62]:
# Imprimir los numeros de 1 a 10, utilizando for
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [63]:
# Problema 02:
# Imprimir los numeros pares del 10 al 20

In [64]:
# Solucion...
for num in range(10,21,2):
    print(num)

10
12
14
16
18
20

In [65]:
# Problema 03:
# Dado una lista de numeros, utilizando el metodo de burbuja ordenarlos de menor a mayor

In [66]:
# Solucion...

lista = ["10", "20", "5", "-10", "100", "0", "50", "17", "2000", "-1000", "0"]

for i in range(1,len(lista)):
    for j in range(0,len(lista)-i):
        if(lista[j+1] < lista[j]):
            aux=lista[j];
            lista[j]=lista[j+1];
            lista[j+1]=aux;
            
print(lista)

['-10', '-1000', '0', '0', '10', '100', '17', '20', '2000', '5', '50']