# Semana 05
Anselmo Junior Huancas Leuyacc

Temas:

1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [2]:
#Siempre se inica la variable con una letra o guion... Nunca con un numero o simbolo

In [3]:
edad=21
edad

21

In [4]:
nombre = "Anselmo"
nombre

'Anselmo'

In [5]:
apellido="Huancas Leuyacc"
apellido

'Huancas Leuyacc'

In [6]:
nombre_completo = nombre + " " + apellido
nombre_completo

'Anselmo Huancas Leuyacc'

In [7]:
#Para saber el tipo de la variable utilizamos type()
#Ejemplo:

In [9]:
numero=50
type(numero)

int

In [12]:
#Para convertir un numero en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [13]:
type(cadena)

str

In [14]:
#Para convertir una cadena en entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [15]:
type(numero2)

int

In [ ]:
#Para convertir una cadena a decimal utilizamos float()