# Semana 05
Anselmo Junior Huancas Leuyacc

Temas:

1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de cadenas

In [10]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
cadena[5]

'r'

In [3]:
cadena[-5]

'a'

In [4]:
cadena[-24]

' '

In [5]:
cadena[-23]

'T'

In [7]:
#Para mostrar una subcadena -> [desde:hasta uno antes]
cadena[3:8]

'versi'

In [11]:
#Para saber el tamaño de la cadena -> len()
len(cadena)

44

In [12]:
#Para mostrar una cadena en mayuscula -> upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [14]:
#Solo se muestra en mayuscula y la cadena se mantiene como en el principio
#Si se desea cambiar
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [15]:
#Para mostrar en minuscula -> lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [16]:
#Para generar una lista -> split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [18]:
#Para generar utilizando un criterio de separacion a partir de una cadena split()
#en este caso vamos a genera una lista de toda la cadena, utlizando como criterio de separacion la letra A
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [19]:
#Forma clasica
nombre="Anselmo Huancas"
print("Hola " + nombre)

Hola Anselmo Huancas

In [20]:
#Utilizando el .format()
nombre="Anselmo"
edad=21
print("Hola {} ya se que tienes {} años".format(nombre, edad))

Hola Anselmo ya se que tienes 21 años

In [22]:
#Dar formato a numeros decimales
resultado=10/3
print("10/3 es {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es 3.3333333333333335
10/3 es = 3.333

In [23]:
#Dar formato con f
#la funcion f, esta disponible desde la funcion 3.6
nombre="Anselmo"
edar=21
print(f"Hola {nombre}, tu edad es {edad} años")

Hola Anselmo, tu edad es 21 años

In [24]:
#Dar formato a numeros con decimales con f
resultado=10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333