# Semana 05
Huancas Leuyacc Anselmo Junior

Temas

1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [1]:
# 5.1 Operadores matematicos 
# Se tiene -> + , - , * , / , % , ** , //

In [2]:
numero1=10
numero2=3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [7]:
# 5.2 Operadores de asignacion
# Se tiene -> = , += , -= , *= , /= , **= 
numero = 8
numero = numero + 2
print(numero)

10

In [6]:
numero = 8
numero = numero - 2
print(numero)

6

In [8]:
numero = 8
numero = numero * 2
print(numero)

16

In [9]:
numero = 8
numero = numero / 2
print(numero)

4.0

In [10]:
numero = 8
numero = numero ** 2
print(numero)

64

In [11]:
#Otra forma de excribir
numero = 8
numero += 2
print(numero)

10

In [12]:
# 5.3 Operadores de comparacion
# Se tiene -> == , != , < , > , <= , >=

In [13]:
#Ejemplo de igualdad (==)
num1 = 3
num2 = 5
num1 == num2

False

In [14]:
#tambien funciona en cadenas
nombre1 = "junior"
nombre2 = "junior"
nombre1 == nombre2

True

In [15]:
# 5.4 Operadores logicos
# Se tiene -> and , or , not
num1 = 5
num2 = 6
num3 = 7
num4 = 8

In [16]:
num1 > num2

False

In [17]:
# El not invierte el resultado
not(num1 > num2)

True

In [18]:
#Tambien puedes utilizar parentesis para ordenar tu operacion
(num1<num2 and num3<num4) or (num3<num4)

True

In [19]:
# 5.5 Operadores de Pertenencia
# Se tiene -> in , not in

In [20]:
#Ejemplo
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [21]:
# ¿Diego esta en el aula?
alumno1 in aula

False

In [22]:
# ¿Juan esta en el aula?
alumno2 in aula

True

In [23]:
# 5.6 Operadores de identidad
# Se tiene -> is , is not

In [24]:
#Ejemplo
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuacion vamos a indicar que el aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [25]:
# ¿aula3 el mismo objetoq que aula1?
aula3 is aula1

True

In [26]:
# ¿aula3 el mismo objetoq que aula2?
aula3 is aula2

False

In [27]:
# ¿aula2 el mismo objetoq que aula1?
aula2 is aula1

False

In [28]:
aula1.append("Diego")

In [29]:
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [30]:
a=3
b=3
a is b

True